git@github.com:ministryofjustice/rabbitmq-formula.git==v1.0.1
git@github.com:ministryofjustice/logstash-formula.git==v1.0.0
git@github.com:ministryofjustice/redis-formula.git==v1.0.0
git@github.com:ministryofjustice/nginx-formula.git==v1.0.0
git@github.com:ministryofjustice/apparmor-formula.git==v1.0.0
